<form class="form1" [formGroup]="formEditbook" (ngSubmit)="editBook()">
    <br>
   <div class="flex align-items-center gap-3 mb-5">
       <label for="username" class="font-semibold w-6rem">Nombre</label>
       <input pInputText id="username" class="flex-auto" autocomplete="off" formControlName="nombre" />
   </div>
   <div class="flex align-items-center gap-3 mb-5">
       <label for="email" class="font-semibold w-6rem">Cantidad de copias</label>
       <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="copias" />
   </div>
   <div class="flex align-items-center gap-3 mb-5">
    <label for="email" class="font-semibold w-6rem">Genero</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="genero" />
</div>
<div class="flex align-items-center gap-3 mb-5">
    <label for="email" class="font-semibold w-6rem">Autor</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="autor" />
</div>
<div class="flex align-items-center gap-3 mb-5">
    <label for="email" class="font-semibold w-6rem">Url Imagen</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="imagen" />
</div>
   <div class="flex">
       <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
       <p-button type="submit" label="Save" (onClick)="visible = false" />
   </div>

   <p-toast />
</form>