
p-speedDial{
      position: fixed;
      bottom: 70px;
      right: 70px;
}
.card{
      border-radius: 15px;
      text-align: center;
}
.card img{
      border-radius: 15px;
      height: 50%;  
      width: 70%;
      align-items: center;
      justify-content: center;
}
.descripcion{
      text-align: center;
      border-radius: 25px;
}
h1{
      justify-content: end;
      font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(22, 11, 143);
}
img{
      height: 80%;
}