<div class="card-container">
        <div class="custom-card">
            <img alt="Card" src="{{book.image_url}}" />
            <div class="card-content">
                <div class="card-header">
                    {{book.name}}
                </div>
                <div class="card-subheader">
                    {{book.author}}
                </div>
            </div>
            <div class="card-footer">
                <button class="custom-button" (click)="show()">Detalles</button>
            </div>
        </div>
    </div>