@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.contenedor {
   background-color: #fff;
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
   justify-content: space-around;
}
.contenido{
   background-color: #923131;
   border-radius: 10px;
   justify-content: center;
}