
.contenedor {
   background-color: #fff;
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
   justify-content: space-around;
}
.contenido{
   background-color: #923131;
   border-radius: 10px;
   justify-content: center;
}